name: Haskell CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-haskell@v1
      with:
        ghc-version: '8.8.2'
        stack-version: '2.1.3'
    - name: Build
      run: stack build
    - name: Run tests
      run: stack test
    - name: Create documentation
      run: stack haddock
